/*html {
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////j////wf///8H////B////wf///+P/////////////////////////////8='), auto;
}*/

body {
    overflow-x: auto;
    overflow-y: auto;
    -webkit-user-select: none;
    /*-webkit-app-region: drag;*/
}

/*body::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}*/

.main {
    position: relative;
    width: 3040px;
    height: 976px;
    background: #eee url(./img/bg_tv.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}
.machine {
    position: absolute;
    width: 703px;
    height: 504px;
    left: 1155px;
    top: 442px;
    background: url(./img/machinebg.png) no-repeat;
    background-size: contain;
    background-position: center;
}
.machine-front {
    position: relative;
    ;
    width: 100%;
    height: 100%;
    background: url(./img/machine.png) no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2
}
.machine-start, .machine-end {
    position: absolute;
    width: 160px;
    height: 40px;
    top: 372px;
    z-index: 4;
}
.machine-start {
    left: 164px;
}
.machine-end {
    left: 381px;
}
.machine-ani {
    position: absolute;
    left: 110px;
    top: 80px;
    z-index: 1
}
.awards {
    position: absolute;
    width: 262px;
    top: 350px;
    left: 812px;
    margin: 0;
}
.awards dt {
    height: 40px;
    line-height: 40px;
    border-radius: 9px;
    background: #a50413;
    font-size: 24px;
    color: #ffd177;
    font-weight: bold;
    margin: 3px auto 0;
}
.awards dt:first-child {
    background-color: transparent;
}
.awards dd {
    width: 258px;
    height: 24px;
    line-height: 22px;
    background: url(./img/awardbg.png) no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    color: #4d0608;
    font-weight: 600;
    margin: 3px auto 1px;
}
.awards dd.finish {
    filter: grayscale(1);
}
.awards .big {
    width: 262px;
    height: 28px;
    line-height: 26px;
    background: url(./img/awardbg1.png) no-repeat;
    color: #a50413;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 8px #fff579, 0 0 9px #fff579, 0 0 10px #fff579, 0 0 11px #fff579;
    margin: 0px auto 0px;
}
.winner {
    position: absolute;
    width: 255px;
    left: 1969px;
    top: 392px;
}
.award-name {
    font-size: 24px;
    height: 36px;
    line-height: 36px;
    color: #ffd177;
}
.award-title {
    height: 40px;
    line-height: 40px;
    margin-top: 13px;
}
.award-img {
    display: block;
    width: 197px;
    height: 110px;
    border: none;
    margin: 0 auto;
}
.awards .big i {
    content: "";
    display: inline-block;
    width: 29px;
    height: 27px;
    background: url(./img/awardstar.png) no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    margin: 0 5px 2px;
}
.winner-list {
    padding: 6px 5px 0;
    text-align: justify;
}
.winner-list li {
    display: inline-block;
    font-size: 31px;
    color: #3a0204;
    width: 100%;
    height: 37px;
    text-align: center;
}
.bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 3;
}
.clickable.clickable {
    /*-webkit-app-region: no-drag;*/
}
.head {
    position: fixed;
    width: 100%;
    /*height: 100px;
    padding: 10px 20px 0 0;*/
    box-sizing: border-box;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*-webkit-app-region: drag;*/
}
.head p {
    position: relative;
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    font-size: 40px;
    color：#eee;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
.icon-close::before, .icon-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 23px;
    background: #fff;
    top: 23px;
    left: 27px;
}
.icon-close::before {
    transform: rotate(45deg);
}
.icon-close::after {
    transform: rotate(-45deg);
}
.icon-full::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid #fff;
    top: 23px;
    left: 17px;
}
.icon-setting:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 22px;
    top: 23px;
    left: 13px;
    background: #fff;
    box-shadow: 0 8px 0 #fff, 0 16px 0 #fff;
}
.lottery-setting {
    display: flex;
    position: fixed;
    width: 1200px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin: -350px 0 0 -600px;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    background-color: #61332c;
    z-index: 5
}
.lottery-setting input,.lottery-setting select{
    border:none;
    outline: none;

}
.lottery-setting > div {
    position: relative;
    padding: 10px 60px;
}
.lottery-setting > div:nth-child(n+3)::before {
    content:'';
    position:absolute;
    border-radius: 2px;
    width:3px;
    height:90%;
    left:0;
    top:5%;
    background:rgba(255,255,255,.3)
}
.lottery-players {
    text-align: center;
}
.lottery-players-table {
    display: block;
    max-height: 550px;
    overflow: auto;
}
.lottery-players-table tr {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    background: #fff;
}
.lottery-players-table tr:hover{
    opacity: .85;
}
.lottery-players-table td, .lottery-players-table th {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 5px;
}
.lottery-setting-btn {
    font-family: "\5FAE\8F6F\96C5\9ED1";
    display: inline-block;
    margin:10px 0 0 ;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    color: #343434;
    opacity: 0.85;
    outline: none;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 2px;
}
.lottery-setting-btn:hover {
    color: #464646;
    text-decoration: none;
    opacity: 1;
}
.lottery-setting .icon-close{
    position: absolute;;
    width: 60px;
    height: 60px;
    right:0;
    top:0;
    z-index:1;
}
.lottery-setting h2{
    color:#fff;
}
.lottery-config-idx{
    width:35px;
}
.lottery-config-name{
    width:150px;
}
.lottery-config-type{
    width:150px;
}
.lottery-config-number{
    width:35px;
}
.lottery-config-unit{
    width:30px;
}
.clickable:hover{
    opacity: .85;
}
