<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>旅游春晚</title>
    <link rel="stylesheet" href="./common/normalize.css" charset="utf-8">
    <link rel="stylesheet" href="./app.css" charset="utf-8">
</head>

<body>
    <div id="app">
        <div class="main" ref="lottery">
            <dl class="awards">
                <template v-for="(item1, index1) in config">
                    <dt>{{item1.name}}</dt>
                    <template v-for="(item2, index2) in item1.list">
                        <template v-if="item2.winner && item2.winner.length>=item2.number">
                            <dd class="finish" :class="{'big':item2.level!=1}" @click="open(index1, index2)">
                                {{item2.name}}
                            </dd>
                        </template>
                        <template v-else>
                            <template v-if="item2.winner && item2.winner.length>0 || item2.open==1">
                                <dd :class="{'big':item2.level!=1}" @click="open(index1, index2)">
                                    {{item2.name}}
                                </dd>
                            </template>
                            <template v-else>
                                <dd :class="{'big':item2.level!=1}" @click="open(index1, index2)">
                                    <i></i>{{item2.type}}<i></i>
                                </dd>
                            </template>
                        </template>

                    </template>
                </template>
            </dl>
            <div class="machine">
                <img hidden src="./img/1.png" id="img1">
                <img hidden src="./img/2.png" id="img2">
                <img hidden src="./img/3.png" id="img3">
                <img hidden src="./img/4.png" id="img4">
                <img hidden src="./img/5.png" id="img5">
                <canvas class="machine-ani" id="cvs" width="500" height="280"></canvas>
                <div class="machine-front"></div>
                <div class="machine-start" @click="start"></div>
                <div class="machine-end" @click="end"></div>
            </div>
            <div class="winner">
                <p class="award-name" v-if="!!currentAward">{{currentAward.name + currentAward.number + currentAward.unit}}</p>
                <img class="award-img" v-if="!!currentAward" :src="'./奖品/'+currentAward.name+'.jpg'" />
                <p class="award-name award-title" v-if="!!currentAward">中奖号码</p>
                <ul class="winner-list" v-if="!!winnerList">
                    <li v-for="item in winnerList">{{item.winner | preFix}}</li>
                </ul>
            </div>
            <img class="bottom" src="./img/bottom.png" />
        </div>
        <header class="head">
            <p class="icon-close clickable" @click="close"></p>
            <p class="icon-full clickable" @click="full"></p>
        </header>
    </div>

</body>

<script>
    require('./app.js')
</script>

</html>
